    <div fxLayout="row" fxLayoutAlign="center center" class="container-title">
        <h3>Contactos</h3>
        <span class="spacer"></span>
        <button mat-button class="btn-primary" [routerLink]="['/configurations/contacts/create']">
            <span fxShow="true" fxHide.xs >Nuevo</span>
            <mat-icon fxShow="false" fxShow.xs>add_circle</mat-icon>
        </button>
    </div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombres">
    <th mat-header-cell *matHeaderCellDef> Nombres </th>
    <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
  </ng-container>

  <!-- Apellidos Column -->
  <ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
    <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
  </ng-container>

  <!-- Administrador Column -->
  <ng-container matColumnDef="administrador">
    <th mat-header-cell *matHeaderCellDef> Administrador </th>
    <td mat-cell *matCellDef="let element"> {{element.administrador}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let data">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/configurations/contacts/create']" [queryParams]="{id: data.id}">
                      <mat-icon>info</mat-icon>
                      <span>Ver</span>
                    </button>                    
                    <button mat-menu-item [routerLink]="['/configurations/contacts/delete']" [queryParams]="{id: data.id}">
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
<mat-divider></mat-divider>
USUARIOS PARA TORNEO

<section class="example-section" *ngFor="let task of tasks">
  <mat-checkbox class="example-margin" [checked]="task.completed" (change)="update($event.checked, task)">{{task.nombres}}</mat-checkbox>
</section>

<mat-form-field appearance="fill">
    <mat-label>Juegos</mat-label>
    <mat-select [formControl]="juegoId">
      <mat-option *ngFor="let juego of juegos" [value]="juego.id">
        {{juego.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<button mat-button color="primary" (click)="onClick()">Generar torneos</button>
    
<br><br>

<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Partida" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSourcePartidas" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="torneo">
    <th mat-header-cell *matHeaderCellDef> Id Torneo </th>
    <td mat-cell *matCellDef="let element"> {{element.torneo}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="uuid">
    <th mat-header-cell *matHeaderCellDef> UUID </th>
    <td mat-cell *matCellDef="let element"> {{element.uuid}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="jugador1">
    <th mat-header-cell *matHeaderCellDef> Jugador 1 </th>
    <td mat-cell *matCellDef="let element"> {{element.jugador1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="jugador1_punteo">
    <th mat-header-cell *matHeaderCellDef> Punteo jugador 1 </th>
    <td mat-cell *matCellDef="let element"> {{element.jugador1_punteo}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="jugador2">
    <th mat-header-cell *matHeaderCellDef> Jugador 2 </th>
    <td mat-cell *matCellDef="let element"> {{element.jugador2}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="jugador2_punteo">
    <th mat-header-cell *matHeaderCellDef> Punteo jugador 2 </th>
    <td mat-cell *matCellDef="let element"> {{element.jugador2_punteo}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="completada">
    <th mat-header-cell *matHeaderCellDef> Completado </th>
    <td mat-cell *matCellDef="let element"> {{element.completada}} </td>
  </ng-container>
 
  <tr mat-header-row *matHeaderRowDef="displayedColumnspartidas"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnspartidas;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
